ul.categories-list{
    background-color: #E8F3F3;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0.25rem 0 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 2px 24px 0px rgba(220, 228, 228, 0.75);
}
/* ul.categories-list li.categories-item{
    list-style: none;
    padding: 10px 0;
    background-color: white;
    font-size: 0.9rem;
} */
ul.categories-list li.categories-item:hover{
    background-color: #E8F3F3;
}
div.categories-container:hover .categories-list{
    height: auto;
}
.dropdown-icon{
    margin-left: .5rem;
    transform: scale(1.05);
    transition: .4s ease all;
}
div.categories-container:hover .dropdown-icon{
    transform: rotate(180deg);
}
.search-icon:hover{
    cursor: pointer;
}

.dropdown-icon{
    width: 0.7rem;
}

.search-icon,.edit-icon{
    width: 0.9rem;
}

@media screen and (max-width:1200px) {
    .dropdown-icon{
        width: .7rem;
    }
    .search-icon,.edit-icon{
        width: 1rem;
    }
}

@media screen and (max-width:900px) {
    .dropdown-icon{
        width: .7rem;
    }
    .search-icon,.edit-icon{ 
        width: 1.2rem;
    }
    .remove-overline::before{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .dropdown-icon{
        width: .6rem;
        margin-left: .3rem;
    }
    .search-icon,.edit-icon{
        width: 1rem;
    }
}